@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&family=Poppins:wght@200;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primaryColor:hsl(14,90%,53%)
  --primaryColorLight:hsl(14 , 96% , 91%);
  --bgColor:hsl(0,0%,100%);
  --formColor:hsl(20 , 42%, 87%);
  --whiteColor:hsl(0,0%,100%);
  --blackColor:hsl(0,0%,18%);
  --greyText:hsl(0,0%,51%);
  --inputColor:hsl(330,12%,97%);
  --cardColor:hsl(300,3%,94%);
  --biggestFontSize:2.5rem;
  --h1FontSize:2rem;
  --h2Fontsize:1.25rem;
  --h3Fontsize:1rem;
  --normalFontsize:0.938rem;
  --smallFontsize:0.813rem;
  --borderRadius:3rem;
}
:root body {
  background: var(--bgColor);
}
:root .flex {
  display: flex;
  align-items: center;
}
:root .grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}
:root p {
  font-size: var(--smallFontsize);
}
:root html {
  font-size: 90%;
}
:root a {
  text-decoration: none;
}
:root li {
  list-style: none;
}
:root .icon {
  font-size: var(--h2Fontsize);
  cursor: pointer;
}
:root img, :root video {
  height: auto;
  width: 100%;
}
:root .btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--borderRadius);
  padding: 0.8rem 1rem;
  color: var(--whiteColor);
  background-color: rgb(236, 65, 65);
}
:root .btn:hover {
  transition: 0.3s ease;
}
:root .secTitle {
  display: grid;
  text-align: center;
  padding: 1rem 0;
  font-size: 25px;
  font-weight: 700;
  color: var(--blackColor);
  flex-direction: column;
  gap: 1rem;
}
:root .secTitle p {
  color: var(--blackColor);
  font-size: var(--normalFontsize);
  font-weight: 400;
}
:root .secTitle h3 {
  font-size: var(--h3Fontsize);
}
:root .secHeading {
  padding-bottom: 0.5rem;
}
:root .btn .icon {
  margin-left: 0.5rem;
}
:root .btn:hover {
  color: var(--primaryColor);
  color: aliceblue;
  background: black;
}
:root .section {
  padding: 4rem 0 2rem;
}
:root .container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
:root ::-moz-selection {
  background: var(--primaryColor);
  color: var(--primaryColor);
}
:root ::selection {
  background: var(--primaryColor);
  color: var(--primaryColor);
}
:root ::-webkit-scrollbar {
  width: 10px;
  background: var(--primaryColor);
}
:root ::-webkit-scrollbar-thumb {
  width: 10px;
  background: var(--primaryColor);
  border-radius: var(--borderRadius);
}

@media screen and (min-width: 840px) {
  .section {
    padding: 4rem 0 3rem;
  }
  .container {
    width: 75%;
    margin: auto;
  }
}
.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  background: var(--primaryColor);
  border-radius: 3px;
  text-align: center;
}

.loginPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}
.loginPage .Container {
  height: 75vh;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  justify-content: space-between;
  background: hsl(14, 96%, 91%);
}
.loginPage .Container .videoDiv {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 80%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.loginPage .Container .videoDiv video, .loginPage .Container .videoDiv .footerDiv {
  position: absolute;
}
.loginPage .Container .videoDiv .video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.loginPage .Container .videoDiv .textDiv {
  position: relative;
}
.loginPage .Container .videoDiv .textDiv .title {
  color: var(--whiteColor);
  font-size: 35px;
  font-weight: 800;
}
.loginPage .Container .videoDiv .footerDiv {
  bottom: 10px;
  padding: 0 1rem;
  height: 60px;
  background: hsl(14, 96%, 91%);
  left: 0;
  right: 0;
  justify-content: space-between;
  border-radius: 10px;
}
.loginPage .Container .videoDiv .footerDiv .text {
  color: var(--whiteColor);
}/*# sourceMappingURL=App.css.map */